* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --water-size: 100px;
    --water-color-from: #5668ce;
    --water-color-to: #00bcd4;
    --bg-color: #031728;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.rain:nth-child(1) {
    --duration:2.7s;
    
}

.rain:nth-child(2) {}

.rain:nth-child(3) {}

.rain:nth-child(4) {}

.rain:nth-child(5) {}

.rain:nth-child(6) {}

.rain:nth-child(7) {}

.rain:nth-child(8) {}

.rain:nth-child(9) {}

.rain .drop {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%) rotate(-45deg);

    width: var(--water-size);
    aspect-ratio: 1;
    border-radius: 100% 0% 50% 50% / 50% 0% 100% 50%;
    background-image: linear-gradient(45deg, var(--water-color-from), var(--water-color-to));
    animation: rain-animate 2s 2s infinite cubic-bezier(1, 0, 0.5, 0.1);
}

@keyframes rain-animate {
    to {
        top: 65vh;
        width: calc(var(--water-size)*2);
    }
}

.rain .waves {
    position: absolute;
    top: 65vh;
    left: 50%;

    width: 0;
    aspect-ratio: 2/1;
    opacity: 0;
    border: 5px solid white;

    transform: translate(-50%, -50%);
    animation: wave-animate-lg 2s 2s infinite;
}

.rain .waves:after {
    content: '';
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    aspect-ratio: 2/1;
    opacity: 0;
    border: 5px solid white;
    animation: wave-animate-sm 2s 5s infinite;
}

@keyframes wave-animate-lg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 500px;
        border-width: 1px;
        border-radius: 300px/150px;
    }
}

@keyframes wave-animate-sm {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 500px;
        border-width: 1px;
        border-radius: 300px/150px;
    }
}