* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --water-size: 100px;
    --water-color-from: #5668ce;
    --water-color-to: #00bcd4;
    --bg-color: #031728;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.rain .drop {
    position: absolute;
    top: calc(50vh);
    left: 50%;
    z-index: 9;
    transform: translate(-50%, -50%) rotate(-45deg);

    width: var(--water-size);
    aspect-ratio: 1;
    border-radius: 100% 0% 50% 50%/50% 0% 100% 50%;
    background-image: linear-gradient(45deg, var(--water-color-from), var(--water-color-to));
}

.rain .waves {
    position: absolute;
    top: 65vh;
    left: 50%;

    width: 0;
    aspect-ratio: 2/1;
    opacity: 0;
    border: 5px solid white;

    transform: translate(-50%, -50%);
    animation: wave-animate-lg 2s 2s infinite;
}

.rain .waves:after {
    content: '';
    
}

@keyframes wave-animate-lg {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 500px;
        border-width: 1px;
        border-radius: 300px/150px;
    }
}